footer {
    min-height: 10vh;
}

.top-buffer-sm {
    margin-top: 3vh;
}

.top-buffer-md {
    margin-top: 5vh;
}

.top-buffer-lg {
    margin-top: 8vh;
}

.clickable:hover {
    cursor: pointer;
}

.clickable:focus {
    outline: none;
    border: 0px;
}